@{
    ViewData["Title"] = "Home Page";
}
@Model string

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <h2>From ViewBag SessionName</h2>
    <h3>@ViewBag.SessionName</h3>

    <h2>From ViewModel</h2>
    <h3>@Model</h3>

    <a href="/">Generate</a>

</div>
