@{
    ViewData["Title"] = "Home Page";
}
@Model string

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <h2>From ViewBag SessionName | @ViewBag.SessionName</h2>

    <h2>From ViewModel | @Model</h2>

<a href="/">Generate</a>

</div>
